@import "../../styles/imports.scss";

.mainDash {
  display: inline-flex;
  flex-direction: column;
}
$border_color: #95a5a6;
.eachOrg {
  display: flex;
  justify-content: center;
  margin: auto;
  background: #ecf0f1;
  transition: 1s ease-in-out;
  flex-wrap: wrap;
  border-bottom: 1px solid $border_color;
  border-top: 1px solid $border_color;
  opacity: 0.8;
  p {
    margin: auto;
  }
}
.eachOrg:hover {
  opacity: 1;
}

.editForm {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  button {
    margin: 0 auto;
    margin-top: 20px;
  }
}
