$button_color: #546de5;
$button_hover_color: #574b90;
$button_dashboard: #34ace0;
$button_dashboard_hover: #227093;
$error: #ff4757;
$input_color: #70a1ff;
$input_hover: #1e90ff;
$theme_color_2: #00dbde;
$theme_color_1: #fc00ff;
$form_color: #487eb0;
