@import "./colors.scss";

.mainScreen {
  height: 100%;
  min-height: 100vh;
  margin-bottom: 50px;
}

.button {
  text-decoration: none;
  width: 100px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: $button_color;
  color: #fff;
  cursor: pointer;
  transition: 1s ease-in-out;
  font-size: 16px;

  outline: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button_dashboard {
  text-decoration: none;
  width: 100px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: $button_dashboard;
  color: #fff;
  cursor: pointer;
  transition: 1s ease-in-out;
  font-size: 16px;

  outline: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button_dashboard:hover {
  background: $button_dashboard_hover;
}
.button:hover {
  background: $button_hover_color;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
